.background-img {
    background-image:linear-gradient(rgba(0,0,0, 0.5), rgba(0, 0, 0, 0.5)),
    url(assets/mcLaren.webp);
    background-size: cover;
    height: 100vh;
    font-size:15px;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position-y: 50%;
}
.large-heading {
    color: white;
    text-shadow: 0 0 10px black;
}
.large-heading-dark {
    color: black;
    text-shadow: 0 0 1px black;
}
.small-heading {
    border-color: white;
    color: white;
    font-weight: bold;
    -webkit-text-stroke: 0.5px black;
    text-shadow: 0 0 10px black

}

.create-button {
    background-color: green;
}

.forms {
    background: #DDE6ED;
    border-radius: 25px;
}

.buttons {
    border-radius: 10px;
}

.buttons-2 {
    border-radius: 10px;
    margin-left: 10px;
}
